body {
    color: #333;
    
}

.parent {
    width: 600px;
    border: 5px solid red;
    text-align: center;
}

.top {
    float: none;
    height: 50px;
    line-height: 50px;
    background-color:violet;
}
.left {
    float: left;
    width: 200px;
    height: 100px;
    line-height: 100px;
    background-color:gainsboro;
}
.right {
    float: right;
    width: 400px;
    height: 100px;
    line-height: 100px;
    background-color:sandybrown;
}
.bottom {
    height: 50px;
    line-height: 50px;
    clear: both;
    background-color:violet;
}