.box {
    border: 1px solid red;
    width: 600px;
    height: 200px
}

.box div {
    border: 1px solid blue;
    width: 200px;
    height: 200px;
    float: left;
    box-sizing: border-box;
}

.box-content {
    border: 10px solid orange;
    width: 400px;
    height: 100px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 50px;
    text-align: center;
    clear: both;
    margin-top: 20px;
}