body {
    color: #333;
    
}

.section01 {
    border: 5px solid #000;
    width: 600px;
    overflow: hidden;
    margin-bottom: 5px;
}

.section01 article {
    background-color: gold;
    width: 200px;
    height: 100px;
    float: left;
    border: 1px solid #000;
    box-sizing: border-box;
}

.section02 {
    width: 620px;
    border: 5px solid #000;
    text-align: center;
}

.section02 article {
    background-color: gold;
    width: 200px;
    height: 100px;
    display: inline-block;
    border: 1px solid red;
}